body {
    font-family: Helvetica;
}

a {
    color: #EF233C;
}

h1 {font-size: 80px}
h2 {font-size: 40px}

h1, h2 {font-weight: normal}

header h1, header h2 {
color: #EDF2F4;
}

header, footer {
padding: 30px;
color: #8D99AE;
    background: #2B2D42;
}

header {
    margin-bottom: 10px;
}
footer {
margin-top: 10px;
}

.education {
padding: 30px;
background: #8D99AE;
}